{% extends 'core/base.html' %}
{% load static %}
{% block main %}

<div class="container-fluid">

    <div id="container" class="row"></div>
    <div class="row">
            <!-- Highcharts display -->

            <button id="column" style="margin-left: 2em" class="btn btn-primary">Column</button>
            <button id="line" class="btn btn-primary">Line</button>
            <button id="spline" class="btn btn-primary">Spline</button>
            <button id="area" class="btn btn-primary">Area</button>
            <button id="areaspline" class="btn btn-primary">Areaspline</button>
            <button id="scatter" class="btn btn-primary">Scatter</button>
            <button id="pie" class="btn btn-primary">Pie</button>
         
            
    </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Chartjs libraries -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<script>
    _categories = {{ categories | safe }};
    _values = {{ values | safe }};


    data=[]
    if(_categories.length>1){

        for (var i = 0; i < _categories.length-1; i++) {
            console.log(_categories[i],_values[i]);
            data.push([_categories[i],_values[i]])
        }
        data.push({
            name: _categories[_categories.length-1],
            y:  _values[_categories.length-1],
            selected: true,
            sliced: true
        })
    }else{
        data.push({
            name: _categories[_categories.length-1],
            y:  _values[_categories.length-1],
            selected: true,
            sliced: true
        })
    }
    console.log(data)
    
    $(function () {
        $('#container').highcharts({
            xAxis: {
                categories: _categories,
                showEmpty: false
            },

            yAxis: {
                showEmpty: false
            },
            
            series: [{
                allowPointSelect: true,
                data: data,
                marker: {
                    enabled: false
                },
                events:
                {
                    click: function(event)
                    {
                        
                            var selected = this.index;
                            var allSeries = this.chart.series;
                            
                            console.log(event.point.name)
                            return false;
                    }
                },
                showInLegend: true
            }]
        });

        var chart = $('#container').highcharts(),
            name = false,
            enableDataLabels = true,
            enableMarkers = true,
            color = false;
        
        // Set type
        $.each(['line', 'column', 'spline', 'area', 'areaspline', 'scatter', 'pie'], function (i, type) {
            $('#' + type).click(function () {
                chart.series[0].update({
                    type: type
                });
            });
        });
    });
</script>

  
{% endblock %}
