{% extends 'core/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Face recogniser" %}{% endblock %}

{% block main %}

<div id="container_web_cam" class="container">

    <div class="row py-2">
        <select id="selected_task" class="form-control form-control-lg">
            <option value="register" selected="selected">{% trans "Register face" %}</option>
            <option value="detect" >{% trans "Identify face" %}</option>
        </select>
    </div>

    <div class="row">
        <div class="col" id="player_container">
            <div class="embed-responsive embed-responsive-4by3">
                <video id="player" class="embed-responsive-item" autoplay></video>
            </div>
        </div>

        <div class="col">

            <div class="row my-2">
                <div class="col">
                    <div>1. {% trans "Grab some images to register a new face" %}</div>

                    <input id="player_mobile" type="file" accept="image/*" capture class="btn btn-outline-secondary my-2" >

                    <button id="capture_button" class="btn btn-outline-secondary my-2">
                        {% trans "Capture image" %}
                    </button>
                    <div id="register_containter" class="row">
                        <div class="col-sm">
                            <div class="embed-responsive embed-responsive-4by3">
                                <canvas id="myCanvas" class="embed-responsive-item"></canvas>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="embed-responsive embed-responsive-4by3">
                                <canvas id="myCanvas1" class="embed-responsive-item"></canvas>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="embed-responsive embed-responsive-4by3">
                                <canvas id="myCanvas2" class="embed-responsive-item"></canvas>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="embed-responsive embed-responsive-4by3">
                                <canvas id="myCanvas3" class="embed-responsive-item"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <div>2. {% trans "Give this face a unique identifier" %}</div>
                    <input id="face_to_register" class="form-control" type="text" disabled/>
                    <button id="register_button" class="btn btn-outline-secondary my-2">
                        {% trans "Register face" %}
                    </button>
                </div>
            </div>


            <div class="row my-2">
                <div class="col">
                    <div id="detection_containter" class="row">

                        <div class="col-sm">
                            <div class="embed-responsive embed-responsive-4by3">

                                <canvas id="detection_canvas"  class="embed-responsive-item"></canvas>
                                <canvas id="detection_canvas_aux" hidden class="embed-responsive-item"></canvas>

                            </div>
                        </div>
                    </div>

                    <div id="register_containter_list" class="row">

                        <div class="col">
                            <ul id="faces_registered_list"
                                style="
                                    overflow:scroll;
                                    max-height:300px;
                                    margin-bottom:10px;
                                    padding-left:0;
                                ">
                            </ul>
                        </div>

                        <div class="col">
                            <div class="row">
                                <button id="delete_face_button" class="btn btn-outline-secondary my-2">
                                    {% trans "Delete selected face" %}
                                </button>
                            </div>

                            <div class="row">
                                <button id="train_button" class="btn btn-outline-secondary my-2">
                                    {% trans "Update model" %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="container_ip_cam" class="container">

    url_cam<input id="url_cam" class="form-control" type="text" value= "{{ camera.fields.url }}" disabled style="vertical-align: center; height: 10%; width:30%;"/>
    <button id="edit_url_button" class="btn btn-primary" type="submit" >Edit url</button>
    <div class="row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4by3">

                <img id="img" class="embed-responsive-item" src="{{ camera.fields.url }}" />
                <canvas id="myCanvas" class="embed-responsive-item">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>

            </div>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>

{{ data|json_script:"data" }}
<script src="{% static 'js/face_recognition/manage_detection.js' %}"></script>
{% endblock %}

{% block bodyafter %}

<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

{% endblock %}
