{% extends 'core/base.html' %}
{% load staticfiles %}
{% block main %}
<style>
    .list-group{
        max-height: 300px;
        margin-bottom: 10px;
        overflow:scroll;
    }
</style>
<div id="container_web_cam" class="container">

    Register Face <input id="face_to_register" class="form-control" type="text" value= "" disabled style="vertical-align: center; height: 10%; width:30%;"/>
    
    <select id="selected_task">
        <option value="register" selected="selected">Register Face</option>
        <option value="detect" >Fetch detection</option>
    </select>

    <button id="capture_button">capture image</button>
    <button id="register_button">register face</button>
    <div class="row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4by3">

                <video id="player"  class="embed-responsive-item" controls autoplay ></video>
               
            
            </div>
        </div>
        <div class="col-sm">
            <div id="detection_containter" hidden class="row">

                <div class="col-sm">
                    <div class="embed-responsive embed-responsive-4by3">
                        
                        <!-- <img id="detection_img" src="{% static 'detection_output.png' %}" class="embed-responsive-item">  -->
                        <canvas id="detection_canvas"  class="embed-responsive-item">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas> 
                        <canvas id="detection_canvas_aux" hidden class="embed-responsive-item">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas> 
                    
                    </div>
                </div>
            </div>
            <div id="register_containter" class="row">

                <div class="col-sm">
                    <div class="embed-responsive embed-responsive-4by3">
                        
                        <canvas id="myCanvas" class="embed-responsive-item">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas> 
                    
                    </div>
                </div>
                <div class="col-sm">
                    <div class="embed-responsive embed-responsive-4by3">
                        
                        <canvas id="myCanvas1" class="embed-responsive-item">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas> 
                    
                    </div>
                </div>
                <div class="col-sm">
                    <div class="embed-responsive embed-responsive-4by3">
                        
                        <canvas id="myCanvas2" class="embed-responsive-item">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas> 
                    
                    </div>
                </div>
                <div class="col-sm">
                    <div class="embed-responsive embed-responsive-4by3">
                        
                        <canvas id="myCanvas3" class="embed-responsive-item">
                            Your browser does not support the HTML5 canvas tag.
                        </canvas> 
                    
                    </div>
                </div>
      
            </div>
            <br>
            <div id="register_containter_list" class="row">

                <br>
                <div class="col-sm">

                    <ul id="faces_registered_list" style="overflow: scroll;" class="list-group">
                    </ul> 
                </div>

                <div class="col-sm">
                    <button id="delete_face_button">Delete selected face</button>

                </div>      
            </div>
        </div>
        
    </div> 
</div>





<div id="container_ip_cam" class="container">

    url_cam<input id="url_cam" class="form-control" type="text" value= "{{ camera.fields.url }}" disabled style="vertical-align: center; height: 10%; width:30%;"/>
    <button id="edit_url_button" class="btn btn-primary" type="submit" >Edit url</button>
    <div class="row">
        <div class="col-sm">
            <div class="embed-responsive embed-responsive-4by3">

                <img id="img" class="embed-responsive-item" src="{{ camera.fields.url }}" />
                <canvas id="myCanvas" class="embed-responsive-item">
                    Your browser does not support the HTML5 canvas tag.
                </canvas> 
            
            </div>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div> 
</div>

    

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>


{{ data|json_script:"data" }}
<script src="{% static 'js/face_recognition/manage_detection.js' %}" type="text/javascript"></script>


{% endblock %}
       