{% extends 'core/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block main %}
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url={% url 'cameras:manage_cameras' %}">
{% else %}
    <div class="container">
        <br>
        <center>
            <div>
                <h2>{% trans "Login" %}</h2>
                <form method="POST" id="add_form" action="{% url 'users:login' %}">{% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">{% trans "Username" %}</label>
                        <input type="text" name="username" required="required">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">{% trans "Password" %}</label>
                        <input type="password" name="password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{% trans "Enter" %}</button>
                    </div>
                    <div style="max-width: 300px; color: red">{{form.non_field_errors}}</div>
                </form>
            </div>
        </center>
    </div>
{% endif %}
{% endblock %}
