{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Iniciar sesion{% endblock title %}

{% block main %}
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url={% url 'cameras:manage_cameras' %}">
{% else %}
    <h2>Iniciar sesion</h2>
    <div class="container">
        <h2>Login Form</h2>
        <form method="POST" id="add_form" action="{% url 'users:login' %}">{% csrf_token %}
          <div class="form-group">
            <label >User Name</label>
            <div class="input"><input type="text" name="username" required="required"></div>
            <div class="clear"></div>
        </div>
        <div class="form-group">
            <label >Password</label>
            <div class="input"><input type="password" name="password" required="required"></div>
            <div class="clear"></div>
        </div>
        <div class="form-group"> 
          <label></label>
            <div class="submit">
              <button type="submit" class="btn-primary">Login</button>
            </div>
            <div class="clear"></div> </div>
    </form>
    </div>
{% endif %}

{% endblock %}